#service {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  flex-direction: column;
  gap: 15px;

  .title {
    font-size: 18px;
    font-weight: 700;
  }

  .description {
    font-size: 16px;
    font-weight: 300;
    color: $extra-light;
    text-align: center;
  }

  @media (max-width: $break-point) {
    width: 80%;
  }
}